table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid #d3d3d3;
}

th {
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
}

td {
  padding: 12px;
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5;
}

.CSS_Table_Example,
#header-container,
#map {
  margin: auto;
  max-width: 80%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#header-container {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

#header-text {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

#map {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
